@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  body {
    font-family: var(--font-oxygen);
  }

  h1, h2, h3, h4 {
    font-family: var(--font-oswald);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
  }
h1 {
  @apply text-8xl font-extrabold;
}

h2 {
  @apply text-6xl font-bold;
}

h3 {
  letter-spacing: -0.02em;
  @apply text-4xl font-thin;
}

h4 {
  letter-spacing: -0.01em; /* Slightly tighter tracking for thin fonts */
  @apply text-2xl font-extralight;
}
}
@layer components {
  .pretty {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
  }
  
  .bg-blur {
    @apply backdrop-filter backdrop-blur-sm
  }

  .bg-blur-md {
    @apply backdrop-filter backdrop-blur-md
  }

  .bg-blur-lg {
    @apply backdrop-filter backdrop-blur-lg
  }

  .bg-blur-xl {
    @apply backdrop-filter backdrop-blur-xl
  }

  .bg-blur-2xl {
    @apply backdrop-filter backdrop-blur-2xl
  }

  .bg-blur-3xl {
    @apply backdrop-filter backdrop-blur-3xl
  }

  .bg-glass {
    @apply bg-blur-md bg-gradient-to-tl bg-base-100/50 from-glass-start to-glass-end;
  }

  .spacing-wide {
    letter-spacing: 2em;
  }

  .spacing-normal {
    letter-spacing: 0;
  }
  
  .select-none {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .box {
    @apply relative bg-transparent;
  }

  .box:hover::before, .box:hover::after {
    content   : "";
    z-index   : -1;
    position  : absolute;
    width     : calc(100% + 6px);
    height    : calc(100% + 6px);
    top       : -3px;
    left      : -3px;
    @apply rounded-xl;
  }

  .box::before, .box::after {
    background: linear-gradient(
      15deg, 
      #B6B137,
      #04263D,
      #B6B137
    );
    background-size: 400%;
    animation: border 2s ease infinite;
    transition: all 0.3s ease;
  }

  .box-dark::before, .box-dark::after {
    background: linear-gradient(
      15deg, 
      #F2A1C4,
      #68DBED,
      #F2A1C4
    );
    background-size: 400%;
    animation: border 2s ease infinite;
    transition: all 0.3s ease;
  }

  .box::after {
    filter: blur(20px);
  }

  @keyframes border {
    0%, 100% {
      background-position: 0% 100%;
    }
    50% {
      background-position: 100% 0%;
    }
  }
}