@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  @apply bg-gradient-to-b from-denim via-picton to-white-500 text-white-500
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

h1 {
  @apply text-8xl font-extrabold;
}
h2 {
  @apply text-6xl font-bold;
}
h3 {
  @apply text-4xl font-thin;
}
h4 {
  @apply text-2xl font-extralight;
}